.megaBox {

    width: 900px;
    height: 900px;
    background: #c0c0c0;
    margin: 0 auto;
    /*flex-wrap: wrap;*/
}
.b1{
    width: 100%;
    height: 300px;
    background: chartreuse;
}
.b2_b6{
    display: flex;



}
.b2{
    width: 600px;
    height: 300px;
    background: yellow;
}
.b6{
    display: flex;
    height:600px;
    width: 300px;
    background: hotpink;
}
.b3_b4_b5{
    display: flex;

}
.b3{
    width: 200px;
    height: 300px;
    background:darkmagenta;
}
.b4{
    width: 200px;
    height: 300px;
    background:khaki;
}
.b5{
    width: 200px;
    height: 300px;
    background:darksalmon;
}




